@font-face {
    font-family: "Open Runde";
    src: url("https://pub-3092f30748a044f6abcf47bd10270d53.r2.dev/Open%20Runde/Web%20Fonts/69e6883cc0ff6112a74af1228f273734.woff2") format("woff2"),
         url("https://pub-3092f30748a044f6abcf47bd10270d53.r2.dev/Open%20Runde/Web%20Fonts/69e6883cc0ff6112a74af1228f273734.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://fonts.gstatic.com/s/jetbrainsmono/v18/tDbY2o-flEEny0FZhsfKu5WU4xD-IQ.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://fonts.gstatic.com/s/jetbrainsmono/v18/tDbV2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yK1jPQ.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://fonts.gstatic.com/s/jetbrainsmono/v18/tDbV2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8ZaxjPQ.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}