@font-face {
    font-family: "Open Runde";
    src: url("https://pub-3092f30748a044f6abcf47bd10270d53.r2.dev/Open%20Runde/Web%20Fonts/69e6883cc0ff6112a74af1228f273734.woff2") format("woff2"),
         url("https://pub-3092f30748a044f6abcf47bd10270d53.r2.dev/Open%20Runde/Web%20Fonts/69e6883cc0ff6112a74af1228f273734.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
